html {
    background-color: #3d0517;
}

.homepage {
    text-align: center;
    margin: 20px;
}

.homepage .title {
    margin: 0px;
}

.homepage .recipe-list {
    display: inline-block;
    text-align: left;
}

h1, h2, p, li, a {
    font-family: "Verdana", Sans-serif;
}

h1, h2, a:visited {
    color: white;
}

p, li {
  color: lightgray;
}

.recipe {
    margin: 20px;
}
